@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Poppins", sans-serif;
}

.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.container{
    width:330px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.heading1{
    margin-bottom: 6px;
}

h2{
    text-align: center;
}

.btn{
    margin-top: 20px;
    width:250px;
    padding: 6px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: #FCAB10;
    color: white;
    border: none;
}

.btn:hover{
    cursor: pointer;
}

.icon{
    margin-right: 7px;
}

.micon{
    margin-right: 10px;
}

@media screen and (max-width:360px){

    .container{
        padding: 10px;
        width:210px;
    }

    .main-container{
        margin-top: 60px;
    }

    .btn{
        width: 180px;
    }

    h2{
        text-align: center;
    }

}