@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Poppins", sans-serif;
}

.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.container{
    width:330px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #DBDBDB;
    padding: 20px;
}

.heading1{
    margin-bottom: 20px;
    margin-top: 10px;
}

.micon{
    margin-right: 6px;
}

label{
    margin-bottom: 3px;
}

input{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.input-box{
    width:240px;
    height: 33px;  
    padding: 0px 8px;  
    outline: none;
    background-color: #FAFAFA;
    border: 0.1px solid #DBDBDB;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
}

.input-box:focus{
    border: 0.1px solid rgb(135, 135, 135);
}

input::placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 400; 
    font-size: 12px;
    color: #737373;  
}

/* To remove arrow in input number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.btn{
    margin-top: 20px;
    width:250px;
    padding: 6px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: #FCAB10;
    color: white;
    border: none;
}


.btn:hover{
    cursor: pointer;

}

.footer-container{
    width:330px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDBDB;
    padding: 20px;
    margin-top: 10px;
}

.footer-container p{
    font-size: 13px;
}

.footer-container a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color:blue;
}

.footer-container a:active{
    color: #FCAB10;
}


/* Media query */

@media screen and (max-width:360px){

    .container{
        border: none;
        padding: 0px;
        width:200px;
    }

    .footer-container{
        visibility: hidden;
        width: 200px;
    }

    .main-container{
        margin-top: 10px;
    }

    .input-box{
        width: 170px;
    }

    .btn{
        width: 180px;
        margin-bottom: 5px;
    }

}